@import '../professor-classes/professor-classes.scss';
@import '../student-shared/student-module.scss';

.student-module {
  background: #effbf6;
}
.card-icon {
  background: #eafaf3;
  color: #13986d;
}
